services:
  backend-ts: 
    container_name: seu_medicamento_back_ts
    build: ./Backend-TS
    ports:
      - 3001:3001
    volumes:
      - ./Backend-TS/src:/Backend-TS/src
    depends_on:
      db:
        condition: service_healthy
    environment:
      - APP_PORT=3001
      - DB_USER=root
      - DB_PASSWORD=123456
      - DB_DATABASE=medicamentos
      - DB_HOST=db
      - DB_PORT=3306
      
  backend-py: 
    container_name: seu_medicamento_back_py
    build: ./Backend-PY
    ports: 
      - 8000:8000
    volumes: 
      - ./Backend-PY/:/Backend-PY
    depends_on:
      db: 
        condition: service_healthy

  db:
    image: mysql:8.0.32
    container_name: db
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=123456
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot -p$MYSQL_ROOT_PASSWORD || exit 1"]
      interval: 10s        # checa a cada 10 segundos
      timeout: 5s
      retries: 5
      start_period: 30s
